body {
    background-color: #e4f0e0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: #5a7c5a;
    text-align: center;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-color: #998775;
    font-size: 175%;
}

header a:link {
    color: #5a7c5a;
    text-decoration: none;
}

header a:visited {
    color: #5a7c5a;
    text-decoration: none;
}

h1 {
    color: #5a7c5a;
    font-family: Georgia, 'Times New Roman', serif;
    text-align: center;
}

nav {
    text-align: center;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', serif;
    background-image: url(back1.jpg);
    background-color: #e4f0e0;
    font-size: 150%;
    display: flex;
    justify-content: space-evenly;
    padding: 0.25em;
    border: 3px solid #5a7c5a;
}

nav a {
    text-decoration: none;
    color: #998775;
}

nav a:link {
    color: #998775;
}

nav a:visited {
    color:#998775;
}

nav a:hover {
    color: #042a0a;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

h2 {
    font-family: Georgia, 'Times New Roman', serif;
    color: #817151;
    font-weight: bold;
    padding-left: 0.25em;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #817151;
    font-weight: bold;
}

main {
    background-color: #e4f0e0;
    color: #042a0a;
    font-size: 120%;
    padding: 20px 30px;
    display: block;
    overflow: auto;
}

li {
  list-style: none;
  padding: 10px 30px;
  background-image: url("marker.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
}

p {
    padding: 0.5em;
}

footer {
    font-size: 75%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #042a0a
}

img {
    border: 2px solid #5a7c5a;
}

#homeimage {
    height: 300px;
    width: auto;
    background-image: url(mountains_photo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#lifestyleimage {
    height: 400px;
    width: auto;
    background-image: url(4peakspic.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content-box {
    border: 2px solid #042a0a;
    background-color: #e4f0e0;
    background-image: url(back2.jpg);
    padding: 10px;
}

.content-box2 {
    border: 2px solid #042a0a;
    background-color: #e4f0e0;
    background-image: url(back3.jpg);
    padding: 10px;
}

